@import ../config/_colors
@import ../config/_variables
@import ../config/_breakpoints
  
.form
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end
  padding-bottom: 58px
  margin-bottom: 10px
  background: none
  width: 100%
  padding: 0 1rem

  form
    width: 100%
    margin: auto
    max-width: 800px

  label
    width: 100%

  input, textarea
    width: 100%
    max-width: 800px
    background: #fff
    border: solid 2px #ccc
    border-radius: 5px
    padding: 0.5rem 1rem
    outline: none
    margin: 1rem 0 0
    outline: none
    &:focus
      border-color: #f60
      box-shadow: 0 0 10px #f60

  .title
    margin-top: 20px

.center_div
  align-items: center
  align-content: center
  text-align: center
  display: grid
  width: 100%

input.dai_proposal_button
    display: block
    max-width: 250px
    appearance: none
    border-radius: 27px
    background-color: $color-dark-grey
    color: #fff
    border: none
    font-size: 16px
    margin: auto
    align-self: center
    padding: 15px 20px
    pointer-events: all

    &:hover
      background-color: #999

    &:disabled
      background-color: #999
      color: #333
      pointer-events: none