@import ../config/_colors
@import ../config/_variables
@import ../config/_breakpoints

@font-face
  font-family: lemonmilk
  src: url("/LEMONMILK-Regular.otf") format("opentype")
  
.header
  display: block
  flex-direction: column
  align-items: center
  justify-content: flex-end
  padding-bottom: 58px
  margin-bottom: 0px
  background: $color-black
  padding-top: 7.3rem
  &.no-bottom-padding
    padding-bottom: 0
  input
    // width: 90%
    max-width: 400px
    background: #222
    border: solid 2px #2b3c54
    border-radius: 5px
    padding: 0.9rem 1.5rem
    outline: none
    color: #ffffff
    margin: 2rem 0 0
    &:focus
      border-color: #f60
      box-shadow: 0 0 10px #f60
      transition: all 0.25s ease

.header__title
  font-size: 1.75rem
  color: $color-white
  font-weight: 500
  margin-bottom: 48px
  max-width: 95vw
  text-align: center
  text-transform: uppercase
  font-family: lemonmilk

  +media($breakpoint-sm)
    font-size: 28px
    margin-bottom: 32px

.header__utils
  display: flex
  align-items: center
  justify-content: space-between
  width: 650px

.header__label
  font-size: 16px
  position: relative
  cursor: pointer

.header__label--open
  color: $color-green

.header__label--closed
  color: $color-purple

.header__label-title--open
  margin-left: 24px

.header__label-title--closed
  margin-right: 24px

.header__checkbox
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

.header__checkmark
  position: absolute
  top: 0
  height: 16px
  width: 16px
  cursor: pointer
  transition: 0.2s background

.header__checkmark--open
  border: 2px solid $color-green
  left: 0

.header__checkmark--closed
  border: 2px solid $color-purple
  right: 0

.header__checkbox--open:checked ~ .header__checkmark--open
  background: $color-green

.header__checkbox--closed:checked ~ .header__checkmark--closed
  background: $color-purple

.header__balance__white
  color: $color-grey
  font-size: 16px
  max-width: 75rem
  margin: auto

.header__balance__orange
  color: #f60
  font-size: 16px

.header__button
  display: block
  padding: 1rem 2rem
  border-radius: 27px
  color: #000
  border: none
  font-size: 16px
  margin-top: 25px
  background: #f60
  width: 200px
  max-width: 290px
  margin: auto
  margin-top: 2rem
  color: #fff
  position: relative
  &:hover
    background-color: #999

  &::after
    content: ""
    display: inline-block
    height: 100%
    width: 100%
    border-radius: 100px
    position: absolute
    top: 0
    left: 0
    z-index: -1
    transition: all .4s

  &::after
    background-color: #f60

  &:hover::after
    transform: scaleX(1.4) scaleY(1.6)
    opacity: 0
      
  &:disabled
    background-color: #999
    color: #555
    pointer-events: none
  

.delegate-block
  text-align: center

.delegate-block__button
  cursor: pointer
  color: #fff
  margin-top: 3rem
  background: url(/chevron-down-solid.svg) no-repeat center bottom
  padding-bottom: 2rem
  background-size: 2rem
  &:hover
    color: #2b3c54

.flex-power
  display: flex
  @media screen and (max-width: 40rem)
    display: block
    width: 100%
    text-align: center
  > div
    flex: 1 1 auto
    background: none
    padding: 0
    transition: all 0.15s
    margin: auto
    border-radius: 0
    span
      display: block

.connect-wallet
  color: #FFFFFF
  padding-bottom: 7rem
  text-align: center
  h1
    text-transform: uppercase
    font-family: lemonmilk
    font-size: 1.75rem

.connect-wallet-p
      margin: 2rem 0

.connect-wallet-btn
  box-shadow: inset 0 0 0 1px #FFFFFF
  background: none
  border-radius: 21px
  font-size: 14px
  padding: 8px 16px
  cursor: pointer
  color: #fff
  border: none
  &:hover
    background: #ff2959
    background: transparent linear-gradient(90deg,#ff2959,#ffc440) 0 0 no-repeat padding-box
    box-shadow: none

// .tooltip
//   background-color: #000

//   .tooltip-arrow 
//     opacity: 100%

//   .tooltip-inner
//     opacity: 100%